body{
    font-family: sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: large;
    min-width:200px;
    overflow-x: hidden;
}
/* PARTE DE HEADER Y NAVEGACION*/
header{
    position: sticky;
    display:flex;
    align-items: center;
    top: 0;
}



.navbar{
    width: 100%;
    background-color: #025259;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 0 20px 0 48px;
    position:sticky;
    top: 0;
}

li a{
    text-decoration: none;
    color: #fff;
}
.nav__list{
    list-style: none;
    padding: 25px 0 0 0;
    margin: 0;
    align-items: center;
}
.nav_link_main{
    height: 95px;
    width: 90px;
}
.nav__icon{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    
}
.nav__link{
    padding: 20px;
}
.nav__link_registro{
    padding: inherit;
    
}


.nav__item{
    display: inline-block;
    padding: 15px 10px;
    transition:color 0.8;
}
.nav__item:hover{
    background-color: #007172;
    border-radius: 5px;
}

/*FORMULARIO*/

.formulario{
    margin:400px 100px 0 450px;
}






/* Footer */

footer{
    height: 40vh;
    width: 100%;
    background-color: #f4e2de;
}