body{
    font-family: sans-serif;
    font-weight: 400;
    margin: 0;
    min-width: 200px;
    box-sizing: border-box;
    background-color:#cb82 ;
    /*Importar Font: Noto Sans*/
}
.inicio{
    padding: 0;
}
/* PARTE DE HEADER Y NAVEGACION*/
header{
    position: sticky;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    top: 0;
    box-shadow:0 -8 10px color=#000a;
    z-index: 20;
}
.navbar{
    width: 100%;
    background-color: #025259;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 0 20px 0 48px;
    position:relative;

    top: 0;
}
.nav__list{
    list-style: none;
    padding: 25px 0 0 0;
    margin: 0;
    align-items: center;
}
.nav_link_main{
    height: 95px;
    width: 90px;
}
.nav__icon{
    height: 90px;
    width: 90px;
    border-radius: 50%; 
}
.nav__link{
    font-size: large;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    color:#fff
}
.nav__item{
    display: inline-block;
    padding: 15px 10px;
    transition:color 0.8;
}
.nav__item:hover{
    background-color: #007172;
    border-radius: 5px;
}
/* IMAGEN INICIAL DE LA PAGINA*/
h1{
    margin: 10px 0;
}
.ColViajado{
    color: #24f;
}
.img_inicio{
    color: #fff;
    width: 100%;
    height: 550px;
    background: url(../imgs/paisajecafetero.jpg) center //* importante poner ese slash*/cover fixed;
    text-align:center;
}
.img_h2{
    margin: 0;
    padding-top: 25px;
    font-weight: 600;
    font-size: xx-large;
}
.opacidad{
    width: 100%;
    height: 100%;
    background:linear-gradient(#000a, transparent);
}

/*SECCION 1 DESTINOS */

.destinos{
    width: 100%;
    height: 600px;
    background-color: #002655;
    color:white;
    text-align: center;
}
.destinos_h2{
    padding: 0px 0;
    margin: 0;
    word-spacing: 0.1px;
    letter-spacing: 0.8px;
    padding-top:45px ;
    padding-bottom: 45px;
}
.contenedor_destinos{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row-reverse;
    justify-content: center;
}
.dest{
    width: 250px;
    height: 290px;
    margin: 10px;
    text-align: center;
    z-index: 10;
    position: relative;
}
.dest_img{
    filter: brightness(0.7);
    max-width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 20px;
}
.dest_img:hover{
    transform: scale(1.05);
    overflow: auto;
    filter: brightness(1);
}
/*SECCION REGIONES 2*/
.regiones_h2{
    margin: 0;
}
.regiones{
    background-color: #d94f04;
}

/*SECCION DEL FINAL*/
.final{
    width: 100%;
    height: 700px;
    background-color: #f4e2de;
}